<Configuration status="WARN">
    <Appenders>

        <Console name="LogToConsole">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <NoSql name="LogToMongo">
            <MongoDb4 connection="mongodb://localhost:27017/WorkoutDB.logs" />
        </NoSql>

        <JDBC name="LogToSql" tableName="logs">
            <ConnectionFactory class="com.playground.db.ConnectionFactory" method="getConnection"/>
            <Column name="event_date" isEventTimestamp="true"/>
            <Column name="level" pattern="%level"/>
            <Column name="logger" pattern="%logger"/>
            <Column name="message" pattern="%message"/>
            <Column name="exception" pattern="%ex{full}"/>
        </JDBC>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogToConsole"/>
            <AppenderRef ref="LogToMongo"/>
            <AppenderRef ref="LogToSql"/>
        </Root>
    </Loggers>
</Configuration>