<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="HardcodedTZ" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level - Native:[%traceId %spanId] MDC:[%X{traceId} %X{spanId}] - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="HardcodedTZ"/>
        </Root>
    </Loggers>
</Configuration>